<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    Chat95
                    <button id="clear" class="btn btn-danger">Borrar chat</button>
                </h1>
                <br>
                <div id="status">
                    
                </div><br>
                <div id="chat">
                    <input type="text" id="username" class="form-control" placeholder="Escriba su nombre">
                    <div class="card">
                        <div id="messages" class="card-block">

                        </div>
                        <br>
                        <textarea id="textarea" class="form-control" placeholder="Escriba su mensaje"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
        (function () {
            var element = function (id) {
                return document.getElementById(id)
            }
            //Gey elements
            var status = element('status')
            var messages = element('messages')
            var textarea = element('textarea')
            var username = element('username')
            var clearBTN = element('clear')

            //Set default status
            var statusDefault = status.textContent
            var setStatus = function (s) {
                //Set status
                status.textContent = s

                if (s !== statusDefault) {
                    var delay = setTimeout(function () {
                        setStatus(statusDefault)
                    }, 4000)
                }
            }

            //Connect to socket.io
            //var socket = io.connect('http://localhost:4000')
            var socket = io.connect('https://mychat95.herokuapp.com/:4000')
            if (socket != undefined) {
                console.log('Conected to socket')
                socket.on('output', function (data) {
                    console.log(data)
                    if (data.length) {
                        for (var x = 0; x < data.length; x++) {
                            // Build out message div
                            var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[x].name + ": " + data[x].message;
                            messages.appendChild(message);
                            messages.insertBefore(message, messages.firstChild);
                            messages.scrollTop = '9999';
                        }
                    }
                })
                socket.on('mensaje', function(data){
                    var newUser = document.createElement('div')
                    newUser.setAttribute('class', 'newUser')
                    newUser.style.color = 'blue'
                    newUser.textContent = data.text
                    messages.appendChild(newUser)
                });

                // Get Status From Server
                socket.on('status', function (data) {
                    // get message status
                    setStatus((typeof data === 'object') ? data.message : data);
                    // If status is clear, clear text
                    if (data.clear) {
                        textarea.value = '';
                    }
                });

                // Handle Input
                textarea.addEventListener('keydown', function (event) {
                    if (event.which === 13 && event.shiftKey == false) {
                        // Emit to server input
                        socket.emit('input', {
                            name: username.value,
                            message: textarea.value
                        });
                        event.preventDefault();
                    }
                })


                // Handle Chat Clear
                clearBTN.addEventListener('click', function () {
                    socket.emit('clear');
                });
                // Clear Message
                socket.on('cleared', function () {
                    messages.textContent = '';
                });
            }
        })()
    </script>

</section>